* {
    box-sizing: border-box!important;
  }
  .card-container {
    margin: 20px;
    width:100%;
    background: rgb(255,255,255);
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
    box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
  }
.tablesalary {
  width:100%;
}

.tablesalary td{
  padding: 15px
}
.tablesalary th{
  padding: 10px
}





    