.table {
    width:450px;
font-size:15px;
}
th {
background-color: #78b5ba;
color:white;
}

th td {
    text-align:center;
}
.holiday {
    width:450px;
    font-size:20px;
}

.h3holiday  {
 
    font-size: 20px;
}

.hol {
    margin:10px;
}

.holidaytbl {
    padding-bottom: 50px;

}

.holidaybtn {
    width: 456px;
    height: 50px;
    font-size: 20px;
}